@import 'tailwindcss';

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  margin-right: .75em;
  border: thin solid grey;
  border-radius: 3px;
}
